.app-manage {
  @include displayFlex(center, center, 0.5rem);

  .add {
    color: $success;

    .app-icon {
      height: 2rem;
    }
  }

  .edit {
    color: $info;
  }

  .delete {
    color: $danger;
  }
}
