/* FONTS */
$font-primary: 'Open Sans', sans-serif;

/* COLORS */
$white: #ffffff;
$black: #222222;

$info: #2626ab;
$success: #077307;
$warning: #ff6a00;
$danger: #af1818;

$primary: #3f4e6b;
$secondary: #dcb894;
$third: #04889f;
$fourth: #ff4081;
$fifth: #6f933d;

