.app-card {
  overflow: hidden;
  @include displayFlex(space-between, center, null, column);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0.25rem rgba($black, 0.75);

  & > a {
    @include displayFlex(space-between, center, null, column);
    width: 100%;
  }

  .card-header {
    width: 100%;

    .card-image {
      width: 100%;
      height: 16dvh;
      object-fit: cover;
    }
  }

  .card-body {
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    width: 100%;

    .card-title {
      margin-bottom: 0;
      font-size: 0.85rem;
    }

    .card-subtitle {
      margin-bottom: 0;
      font-size: 0.75rem;
      font-weight: bold;
    }
  }
}
