.app-component {
  @include displayFlex(space-between, center, null, column);
  width: 100%;
  flex: 1;

  .app-section {
    @include displayFlex(space-between, center, null, column);
    height: 100%;

    & > .app-grid {
      flex: 1;
      grid-template-rows: repeat(3, 1fr);
      align-items: flex-start;
    }
  }
}
