.app-filters {
  display: none;
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0.25rem rgba($black, 0.75);

  &.open {
    display: block;
  }

  .filter-group {
    margin-bottom: 3rem;
    position: relative;
    padding: 0.25rem;
    border: 1px solid $primary;
    border-radius: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      position: absolute;
      top: -0.75rem;
      left: 1rem;
      padding: 0 0.5rem;
      font-size: 0.85rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary;
      background-color: $white;
    }

    input {
      box-sizing: border-box;
      padding: 0.25rem 0.5rem;
      width: calc(100% - 1rem);
      font-family: $font-primary;
      font-size: 1rem;
      border: none;
      background-color: transparent;
      outline: none;
    }

    .reset {
      position: absolute;
      right: 0;
      top: 0.5rem;
      padding: 0.25rem;
      color: $primary;
      background-color: transparent;
      border: none;

      &:active {
        color: $secondary;
      }

      .app-icon {
        height: 1rem;
      }
    }
  }
}
