{% extends '_layout/_index.html.twig' %}

{% block title %}On écoute ça ?{% endblock %}

{% block body_class %}home{% endblock %}

{% block main %}
    <header>
        <h1>Accueil</h1>
    </header>
{% endblock %}
