{% extends 'hub/_layout/_index.html.twig' %}

{% block title %}Le Hub{% endblock %}

{% block body_class %}hub{% endblock %}

{% set page_title = 'Votre Collection (' ~ '0' ~ ')' %}

{% block main %}
    <section class="app-section">

    </section>
{% endblock %}
