{% extends 'hub/_layout/_index.html.twig' %}

{% block title %}Le Hub{% endblock %}

{% block body_class %}hub grid{% endblock %}

{% set page_title = 'Votre Collection (' ~ app_albumService.userAlbums(app.user) | length ~ ')' %}

{% block main %}
    <section class="app-section">
        {{ component('FilterAlbums') }}
    </section>
{% endblock %}
