{% extends 'base.html.twig' %}

{% block body %}
    {% include '_layout/_header.html.twig' %}

    <main class="app-main">
        {% include '_layout/_alert.html.twig' %}

        {% block main %}{% endblock %}
    </main>
{% endblock %}
