&.add {
  .app-main {
    .app-section {
      .app-form {
        padding: 0.25rem 0 0.5rem;

        .form-fieldset {
          .form-group {
            margin-bottom: 1.5rem;

            .app-covers {
              padding-right: 0.5rem !important;
              max-height: 20dvh !important;
              overflow-y: auto !important;
            }
          }
        }
      }
    }
  }
}
