{% extends 'hub/_layout/_index.html.twig' %}

{% block title %}Rechercher dans le Hub{% endblock %}

{% block body_class %}form{% endblock %}

{% set page_title = 'Recherche avancée' %}

{% block main %}
    <header class="app-controls">
        <div class="app-search">
            <a href="{{ path('app_hub_home') }}" class="filter" title="Retour">
                {{ ux_icon('mdi:arrow-back-circle', {'class': 'app-icon'}) }}
            </a>
        </div>

        <h1 class="app-pagetitle">{{ page_title }}</h1>

        <div class="app-manage">
            &nbsp;
        </div>
    </header>


    <section class="app-section">

    </section>
{% endblock %}
